.postList__img{
    width:200px;
    height: 200px;
    
    transition: 500ms ease-in-out;
    
}
.postList{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 10px;
}
.postList >a{
    place-self: center;
    background-color: white;
}

.postList__img:hover{
    transform: rotate(5deg) scale(1.05);
}

@media(max-width:480px){
    .postList__img{
        width: 180px;
        height: 180px;
    }
    .postList{
        grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
        grid-gap: 5px;
    }
}