.commentWrapper{
    display: flex;
    padding:5px 10px;
    width: 100%;
    margin-top:5px;
    align-items: center;
}

.commentWrapper img{
    width:40px;
    height: 40px;
    border-radius: 50%;
    border:1px solid black;
    margin-right: 10px;

}

.editCommentInput{
    align-items: center;
    display: flex;
    border:1px solid;
    padding:4px;
}
.editCommentInput > input{
    
    padding:5px 2px;
    border-bottom: 1px solid;
    border:0px;
    flex:1;
    font-size: 16px;
    text-decoration: underline;
    outline : none;
    display: flex;
    align-items: flex-end;

}

.editCommentInput > button{
    background-color: black;

    color:white;
    border:0;
    margin-left:3px;
    font-weight:700;
    padding:6px 6px;
}

.commentDetail{
    display: flex;
    flex:1;
    flex-direction: column;
}
.commentHead{
    display: flex;
    /* justify-content: space-between; */

}
.commentName{
    font-weight: 700;
    font-size: 14px;
}

.commentTime{
    font-style: italic;
    margin-left: 5px;
    font-size: 10px;
    color :rgb(65, 64, 64);
    font-weight :700
}
.commentBody{
    margin : 0px 10px 10px 0px;
    font-size: 16px;
}
.commentBody > input{
   
    background: white;
    padding:5px 2px;
    border:0px;
    width:100%;
    margin-top: 4px;
    font-size: 14px;
    outline : none;
    display: flex;
    align-items: flex-end;
}

.commentBody > input:focus{
    border-bottom: 1px solid black;
}

.commentBtn{
    padding:4px 8px;
    font-weight: 600;
    background-color: black;
    color:white;
}

@media(max-width:480px){
    .commentWrapper img{
        width:35px;
        height: 35px;
        
        margin-right: 6px;
    
    }
    .commentBody{
        margin: 0;
    }

}