.followingPage{
    margin-top:2rem;
}
.followingList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin :10px;
}

@media(max-width : 480px){
    .followingList{
        
        grid-template-columns: 1fr;
        width: 100%;
        margin:0;
    }
}
