.followingPage{
    margin-top:2rem;
}
.followingList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin :10px;
}

@media(max-width : 480px){
    .followingList{
        justify-content: center;
        align-items: center;
        margin:0;
    }
}
