.rightSideBar{
    background: rgb(202, 34, 34);
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
    /* height: 500px; */
    padding:20px 10px;
    border-radius: 6px;
    background: transparent;
    /* min-height: fit-content; */
    height: 480px;
    display: flex;
    flex-direction: column;
    /* height: fit-content; */
  
    position: sticky;
    top:120px;
}

.rightSideBar::-webkit-scrollbar {
    width: 6px;
    /* background: black; */
    
  }

.rightSideBar::-webkit-scrollbar-thumb{
    background: #7de2e2;
    border-radius: 10px;
    outline: 1px solid slategrey;
    display: none;
  }

  .rightSideBar::-webkit-scrollbar-thumb:hover{
    background: #7de2e2;
    border-radius: 10px;
    outline: 1px solid slategrey;
    display: block;
  }
   
.bar-two{
    width: 20%;
    overflow-y:auto;
}