.sideBar{
    background: white;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
    /* height: 500px; */
    padding:20px 10px;
    border-radius: 6px;
    background: transparent;
    /* min-height: fit-content; */
    height: 460px;
    display: flex;
    flex-direction: column;
    /* height: fit-content; */
  
    position: sticky;
    top:160px;
}

.sideBar::-webkit-scrollbar {
    width: 6px;
    /* background: black; */
    
  }

.sideBar::-webkit-scrollbar-thumb{
    background: #7de2e2;
    border-radius: 10px;
    outline: 1px solid slategrey;
  }
   
.bar-two{
    width: 20%;
    overflow-y:auto;
}