
  
  .followCard{
    min-height:60px;
    padding: 4px 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width:95%;
    max-width: 360px;
    border-radius: 5px;
    background: white;
    margin-bottom:6px;
    display :flex;
    align-items: center;
    flex-wrap: wrap;
    /* border-right:1px solid #E11D48;
    border-bottom:1px solid #E11D48; */
  
  }
  .fc_userImg{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid black;
    transition: 300ms ease-in-out;
  }
  .fc_userImg:hover{
      border :2px solid var(--primary-color);
      transform :scale(1.1)
  }
  
  .fc_two{
    flex:1;
    display:flex;
    justify-content: flex-start;
    margin-left : 10px;
    font-size: 16px;
  }
  .fc_followBtn{
    border:0px;
    background :var(--primary-color);
    color:white;
    font-size: 16px;
    padding:6px 8px;
    font-weight: 600;
    border-radius: 3px;
    transition: 300ms ease-in-out;
  
  }
  .fc_followBtn:hover{
      background: black;
      color:white;
      transform: scale(1.1);
      
  }
  .fc_followBtn >span{
    display: flex;
    align-items: center;
  }
