.timeline{
    padding-top: -20px;
    flex:1;
    /* height: 100000px; */
    /* overflow-y: scroll; */


}

.postListSection{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 1000px; */


}