@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

:root{
  --primary-color : #341c84;
  --light-primary : #673ab7;
  --backColor : #bfb0f1;
  --secondary : #283593;
  --black : #000000

}


*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Marmelad', sans-serif;
}
link,a{
  text-decoration: none;
  color:black;
  width: fit-content;
}

.App{
  background-color: rgb(235, 235, 235);
  min-height: 100vh;



}


body::-webkit-scrollbar {
  width: 10px;
  /* background: black; */
  
}

body::-webkit-scrollbar-thumb{
  background: var(--primary-color);
  border-radius: 10px;
  outline: 1px solid slategrey;
}
 

button{
  cursor: pointer;
  border:none;
}

.App{
  height: fit-content;
}
.sideFloating__btnContainer{
  display:none
}
.appSidebar_right,
.appSidebar_left{
  display: none;

}
.pageTitle{
  text-align: center;
  font-size: 1.5rem;
  color : var(--primary-color);
  font-weight: 700;
  margin-bottom: 1rem;
}

@media(max-width:480px){
  .sideFloating__btnContainer{
    /* width: fit-content; */
    position: sticky;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    bottom: -1px;
    background: tomato;
    border-top: 1px solid;
    right: 0;
    font-size: 22px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

}

}



