:root{
  --primary-color : #7de2e2;
  --red : #ff9478;
  --yellow : #ffde55;
  --black : #060606

}


*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
link,a{
  text-decoration: none;
  color:black;
}

.App{
  background-color: rgb(235, 235, 235);


}


body::-webkit-scrollbar {
  width: 10px;
  /* background: black; */
  
}

body::-webkit-scrollbar-thumb{
  background: #7de2e2;
  border-radius: 10px;
  outline: 1px solid slategrey;
}
 

button{
  cursor: pointer;
  border:none;
}

.App{
  height: fit-content;
}
